.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
    width: 200px;
    background: #e9eef1;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px grey;

}
.card img{
    height: 180px;
    width: 180px;
    border-radius: 10px;
}
.card .bottom{
    display: flex;
    justify-content: space-between;
}
.card .green{
    float: right;
    color: forestgreen;
    text-shadow:limegreen 1px 0px 5px ;
}
.card .orange{
    float: right;
    color: orangered;
    text-shadow:orange 1px 0px 5px ;
}
