.login-title {
    text-align: center;
}

.confirm {
    text-align: center;
}

.confirm-text {
    margin-top: -20px;
    margin-bottom: 25px;
    text-align: left;
}

.login-provider {
    text-align: center;
}

.container-login {

}
