.row-profil-banner {
   background-color: lightblue;
    padding-bottom: 10px;
}

.row-password {

}

.col-banner-avatar {
    border-right: solid;
    border-right-width: 2px;
    border-right-color: black;
}

.col-banner-infos {
    padding-left: 20px;
}

.divider-profil {
    color: #404040;
    font-weight: normal;
}

.info-element {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
    border-top: 1px solid #282c34;
}
